<section class="projects-shell" [class.in-view]="inView">
  <header class="title">
    <h1 *ngIf="showTitle">{{ title }}</h1>
    <p *ngIf="showSubtitle">{{ subtitle }}</p>
  </header>

  <main class="projects-content">
    <p class="empty-state" *ngIf="!visibleProjects.length">Adicione projetos no editor para exibir aqui.</p>
    <ul>
      <li *ngFor="let projeto of visibleProjects; let i = index" [style.--i]="i">
        <app-projeto-direita
          [title]="projeto.title"
          [imageUrl]="projeto.img"
          [about]="projeto.sobre"
          [technologies]="projeto.tecnologia"
          [githubLink]="projeto.git"
          [pageLink]="projeto.link"
          [showDescription]="showDescription"
          [showTechnology]="showTechnology"
          [showImage]="showImages"
        >
        </app-projeto-direita>
      </li>
    </ul>
  </main>
</section>
