<section class="projects-shell" [class.in-view]="inView">
  <header class="title">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </header>

  <main class="projects-content">
    <p class="empty-state" *ngIf="!projects.length">Adicione projetos no editor para exibir aqui.</p>
    <ul>
      <li *ngFor="let projeto of projects; let i = index" [style.--i]="i">
        <app-projeto-direita
          [title]="projeto.title"
          [imageUrl]="projeto.img"
          [about]="projeto.sobre"
          [technologies]="projeto.tecnologia"
          [githubLink]="projeto.git"
          [pageLink]="projeto.link"
        >
        </app-projeto-direita>
      </li>
    </ul>
  </main>
</section>
