@media screen and (max-width:360px){

  //alinhamento centro
  header {
    display: block;
  }

  .conteiner-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  //hello
  .name {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    text-align: center;
  }

  .name h1 {
    font-size: 1.7rem;
  }

  #mao {
    width: 1.7rem;
  }

  //title

  .app {
    display: flex;
  }

  .app div h1 {
    font-size: 2.2rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .fullStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  // Subtitle
  .Iam h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    text-align: right;
    color: #c9c9c9;
  }

  // Img

  .imgs a {
    width: 2rem;
    height: 2rem
  }

  div .Iam h1 {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }

}

@media screen and (max-width:414px) {
  //alinhamento centro
  header {
    display: block;
  }
  .conteiner-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  //hello
  .name {
    padding-top: 0.5rem;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    text-align: center;
  }
  .name h1 {
    font-size: 2rem;
  }
  #mao {
    width: 2rem;
  }
  //title
  .app {
    display: flex;
  }
  .app div h1 {
    padding-top: 0.5rem;
    font-size: 3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .fullStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // Subtitle
  .Iam h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    text-align: right;
    color: #c9c9c9;
  }
  // Img
  .imgs a {
    width: 3rem;
    height: 3rem
  }
  div .Iam h1 {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width:1280px) {
  .name h1 {
    font-size: 2.5rem;
  }
  #mao{
    width: 2rem;
  }
  //title
  .app div h1 {
    font-size: 8rem;
  }
  // Subtitle
  .Iam h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width:680px) {
  .name h1 {
    font-size: 2.5rem;
  }
  #mao{
    width: 2rem;
  }
  //title
  .app div h1 {
    font-size: 8rem;
  }
  // Subtitle
  .Iam h1 {
    font-size: 2rem;
  }
}
